* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #222;
    line-height: 1.6;
}

html {
    overflow-y: scroll;
}
/* Same header on all pages */
header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px 20px;
    height: 160px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}


nav {
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}



/* Main content changes per page */
main {
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
}
/* Search input */
.controls {
    text-align: center;
    margin-bottom: 25px;
}

#searchInput {
    width: 100%;
    max-width: 400px;
    padding: 13px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Cat grid */
.cat-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
/* Cat card */
.cat-card {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.cat-card h3 {
    margin-top: 0;
}

.cat-card p {
    line-height: 1.5;
}

/* Buttons */
button {
    padding: 10px 15px;
    border: none;
    background-color: #222;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

button:disabled {
    background-color: #999;
    cursor: not-allowed;
}
.cat-card button {
    margin-top: auto;
}
/* Pagination */
.pagination {
    margin: 30px 0;
    text-align: center;
}

.pagination span {
    margin: 0 15px;
    font-weight: bold;
}
/* Cat image */
.cat-image {
   width: 120px;
    height: 120px;
    object-fit: contain;
    background-color: #f4f4f4;
    border-radius: 8px;
}
/* Cart and order form */
.cart,
.order-form {
    background-color: white;
    padding: 20px;
    margin-top: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cart ul {
    padding-left: 20px;
}

.cart li {
    margin-bottom: 10px;
}

.order-form input {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}



/* Tablet */
@media (max-width: 900px) {
    .cat-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 600px) {
    .cat-list {
        grid-template-columns: 1fr;
    }

    header h1 {
        font-size: 28px;
    }
}